.techs {
  padding: 79px 0 100px;
  background: #272727;
}

.techs__inner {
  max-width: 1140px;
  margin: 0 auto;
}

.techs__info {
  margin: 0 auto;
  padding: 90px 0 100px;
  max-width: 460px;
  text-align: center;
}

.techs__info-title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  color: #fff;
}

.techs__info-subtitle {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.8px;
  color: #fff;
}

.techs__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.techs__list-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 90px;
  height: 60px;
  background: #303030;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -4%;
  color: #fff;
}